*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    /* height: 100vh; */
    background-color: rgba(138, 141, 141, 0);
}
.services-landing{
    
    width: 100%;
    height: 100vh;
    /* background-color: #16527a6e; */
    background-color: #015c9896;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url("../images/ourServices/LandingOpacity.jpg"); */
    background-image: url("../images/Landing.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
.bio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: rgba(126, 42, 42, 0.26); */
    width: 70%;
    /* height: 250px; */
}
.bio h1{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.bio div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 143px; */
}
.bio div h3{
    margin-top: 50px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.bio div p{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
}
.floating{
    margin-top: -140px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgba(37, 201, 15, 0); */
}
.floating .body{
    /* background-color: rgba(156, 45, 156, 0.37); */
    
    width: 70%;
}
.floating .body h3{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.floating .body div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    /* background-color: tomato; */
}
.floating .body div img{
    width: 150px;
    height: 150px;
    margin: auto;
    padding: 0;
}
.floating .body div .img{
    width: 180px;
    height: 180px;
    background-color: aqua;
    padding: 0;
    margin-top: 15px;
}
.img{
    background-image: url("../images/item1.jpg");
    background-position: center;
    background-size: cover;
    margin: auto;
}
.floating button{
    width: 167px;
    height: 40px;
    background-color: #1C4FAF;
    color: white;
    border: 0px;
    margin-top: 40PX;
    font-weight: 700;
    font-size: 14px;
    transition: background-color 0.3s;
}
.floating button:hover{
    background-color: yellow;
    color:#065992;
    transition: background-color 0.1s;
    cursor:pointer
}
.serv-footer{
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: left;
    color: #1C4FAF;
    margin-top: 50px;
    margin-bottom: 50px;
}
.row2{
    justify-content: space-evenly;
    align-items: center;
}
.serv-footer .row2{
    margin-top: 20px;
    
}
.row2 h1{
    text-transform: capitalize;

}
.serv-footer .row2 button{
    background-color: white;
    border: 0px;
    display: grid;
    align-content: center;
    height: 80px;
}
.serv-footer .row2 button a{
    color: #1C4FAF;
    
}
.serv-footer h1{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}
.serv-footer button a{
    font-weight: 500;
    text-decoration: none;
}

/* media */
@media only screen and ( max-width : 500px ) {
    .bio{
        /* padding-bottom: 40px; */
        margin-top: -50px;
    }
    .bio div h3{
        margin-top: 30px;
    }
    .floating .body div .img{
        width: 230px;
        height: 230px;
    }
    .floating{
        margin-top: -176px;
    }

}
@media only screen and (max-height : 680px) and ( max-width : 700px ) {
    .floating{
        margin-top: auto;
        margin-top: 55px;
    }
    .floating .body h3{
        color: #1C4FAF;
    }
}

@media only screen and (max-width : 320px) and ( max-height : 568px ) {
    .bio{
        margin: auto;
    }
    .bio h3{
        margin: auto;
    }
}